<!DOCTYPE html>
<html>
    <head>
        <title>MathMentor</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container py-5">
            <!--Header-->
            <h1 class="text-center mb-4">Math Mentor</h1>
            <p class="text-center mb-4">A project made by Aditya Anand</p>

            <!--Subject Input-->
            <div class="alert alert-info" id="subject-slide">
                <div class="mb-3">
                    <label for="subject">Subject:</label>
                    <input type="text" id="subject" name="subject" placeholder="Enter subject here">
                </div>
                <div class="text-center mb-4">
                    <button id="submitButton" class="btn btn-primary">Ready?</button>
                </div>
            </div>
            

            <!--Question & Answer Input-->
            <div id="question-answer-slide">
                <div id="question" class="alert alert-info mb-4" role="alert">Question will come here...</div>
                <div class="mb-3">
                    <label for="answer" class="form-label">Your Answer:</label>
                    <input type="text" id="answer" name="answer" class="form-control" placeholder="Enter answer here">
                </div>
                <div class="text-center mb-4">
                    <button id="answerButton" class="btn btn-success">Submit Answer!</button>
                </div>
            </div>
            <!--Checking-->
            <div id="checking-slide">
                <div class="mb-3">
                    Give us time, we are checking your work!...
                </div>
            </div>

            <!--Correctness & Work-->
            <div id="correctness-slide" class="alert alert-info">
                <p id="correctness" class="text-center mb-4"></p>
                <div id="work" class="alert alert-secondary" role="alert">Work will come here...</div>
                <button id="nextButton" class="btn btn-success">Next Question</button>
            </div>

            <!--Scripts & Stuff-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
            <script src="{{ url_for('static', filename='script.js') }}"></script>
        </div>
    </body>
</html>