<!DOCTYPE html>
<html>
    <head>
        <title>MathMentor</title>
    </head>
    <body>
        <h1>Math Mentor</h1>
        <p>A project made by Aditya Anand</p>
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" placeholder="Enter subject here">
            <button id="submitButton">Submit</button>
            <div id="question">Question will come here...</div>
            <input type="text" id="answer" name="answer" placeholder="Enter answer here">
            <button id="answerButton">Submit Answer!</button>
            <p id="correctness"></p>
            <div id="work">Work will come here...</div>
            <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>